[submodule "Library"]
	path = Library
	url = https://github.com/OverdoneServers/OS-Library
[submodule "Menu"]
	path = Menu
	url = https://github.com/OverdoneServers/OS-Menu
[submodule "PvP Battle ★"]
	path = PvP Battle ★
	url = https://github.com/OverdoneServers/OS-PvPBattle
